@media (max-width: 452px) {

    .card,
    .cardImg,
    .bag {
        border-radius: 16px;

    }

    .card {
        max-width: calc(180px - 20px);
        width: 100%;
        height: fit-content;
        background-color: #fff;
        box-shadow: 0 1px 4px #0003;
        padding: 10px;
        margin: 0 0 20px;
    }

    .cardImg {
        width: fill-available;
        height: 125px;
    }

    .imgParent {
        position: relative;
    }

    .span {
        position: absolute;
        left: calc(150px/2);
    }

    .check,
    .x {
        width: 20px;
    }

    .x,
    .price {
        color: red;
        font-weight: 800;
    }

    .name {
        margin: 10px 0;
        font-weight: 700;
    }

    .bag {
        padding: 5px 10px;
        width: 100%;
        margin-top: 20px;
        font-size: inherit;
        justify-content: center;

    }

    .bag>svg {
        height: 18px;
    }
}