  @media (max-width: 452px) {
      .backdrop {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 100%;
          right: 0;
          background-color: rgba(0, 0, 0, 0.7);
          z-index: 1;
          transition: left 1s;
      }

      .backdrop.slide {
          left: 50%;
      }
  }